<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sorting Visvualizer</title>
    <link rel="stylesheet" href = "style.css">
  </head>

  <body>


    <div class="navbar">
      <form class="" action="/" method="post">
        <input type="radio" name="size" value="1000">1000</input>
        <input type="radio" name="size" value="5000">5000</input>
        <input type="radio" name="size" value="10000">10000</input>
        <input type="radio" name="size" value="15000">15000</input>
        <button type="submit" name="bubble" value="bubble">Bubble Sort</button>
        <button type="submit" name="quick" value="quick">Quick Sort</button>
        <button type="submit" name="merge" value="merge">Merge Sort</button>
        <button type="submit" name="insertion" value="insertion">Insertion Sort</button>
      </form>
    </div>

    <div class="graph">
      <% for(var i = 0;i<array.length;i++){ %>
      <% let width = 5+i %>
      <% let hgt = array[i] %>
      <% let lft = i*2+5 %>
          <div style="border-left: 5px solid black;height: <%=hgt%>px;margin: 5px;float: left"></div>
    </div>


      <% } %>
  </body>
</html>
