<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sorting Visvualizer</title>
    <link rel="stylesheet" href = "style.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>
  <body>
     
    <div class="navbar">
       <input type="number" id="userInput"=> size of array </input>
      <button onclick="quick()"> quick sort</button> 
      <button onclick="bubble()"> bubble sort</button>
       <button onclick="merge()"> merge sort</button>
       <button onclick="insertion()"> insertion sort</button>
       <button onclick="selection()"> selection sort</button> 
    </div>

  </body>
</html>
