<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sorting Visvualizer</title>
    <link rel="stylesheet" href = "style.css">
  </head>
  <body>
    <div class="navbar">
      <form class="" action="/" method="post">
          <button type="submit" name="bubble" value="bubble">Bubble Sort</button>
          <button type="submit" name="quick" value="quick">Quick Sort</button>
          <button type="submit" name="merge" value="merge">Merge Sort</button>
          <button type="submit" name="insertion" value="insertion">Insertion Sort</button>
      </form>
    </div>

  </body>
</html>
